*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'source sans pro', sans-serif;
    text-decoration: none;
}
/* TOPO */
.branco{
    width: 100vw;
    height: 80px;
    background-color: #ffffff;
    position: fixed;
}
.branco a{
    color: black;
}
span{
    color: #4e4efd
}
.menu-fixo{
    width: 100%;
    height: 78px;
    max-width: 1024px; 
    padding: 20px;  
    margin:0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
}
.topo{
    display: flex;
    flex: 1 1 1024px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.topo-links{
    display: flex;
    gap: 20px;
}
/* BANER */
.baner{
    width: 100vw;
    height: 250px;
    background:  url(../img-fundo.jpg)  no-repeat top ;
    background-size: cover;
}
/* INTRODUÇAO */
.area{
    max-width: 1024px;
    margin: 0 auto;
}
.introducao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 40px;
    
}
.introducao h3{
    font-size: 32px;
    font-weight: normal;
    padding: 30px 0;
    margin-top: 50px;

}
/* QUARTOS */

.quartos{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    gap: 5px;
}
.quartos img{
    width: 32%;
    min-width:290px;
}
/* LISTAS */
.listas h3{
    text-align: center;
    padding: 50px;
}
ul{
    width: 30%;
}
.lista-itens {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    flex-wrap: wrap;
    align-items:center;
    gap: 20px;
}
/* RODAPE/VERDE */
.rodape{
    display: flex;
    color: #fff ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.rodape-verde{
    background-color: #49997d;
    padding: 30px 0;
}
.rodape-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.rodape-card{ display: flex;
    gap: 10px;                      
}
.rodape-card a{
    text-decoration: none;
    color: #fff;
}
.calendario{
    display: flex;
    gap: 15px;
}
