*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #000000;
}

.content-center{
    background-color: #fff;
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px; 
    border-radius: 15px;
    
}

.content-center .text-center{
    text-align: center;
}

.content-center img{
    max-width: 70%;
}

.content-center form{
    margin: 20px;
}

.content-center input,
.content-center button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input{
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}

.content-center input:focus{
    border-bottom-color: #D07335;
}

.content-center button{
    background-color: #D07335;
    color: #fff;
}

.content-center button:hover{
    background-color: #b55b28;
    cursor: pointer;
}

.content-center button:active{
    background-color: #c14e0e;
    cursor: pointer;
}
header a {
    color: #666;
    text-decoration: none;

}
header a:visited {
    color: #000000;
    text-decoration: none;
    
}
header a:hover {
    
    text-decoration: underline;
    
}
header a:focus {
    
    color: red;
    
}
header a:active {
    
    color: yellow;
    
}
header h1{
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}

footer{
    font-size: 0.8em;
    text-align: center;
}